

/* formatting for the larger tile and its shadow/text inside */
.big-tile{
    width: 100%;
    height: 400px;
    background-image: url("../images/trippy-art.png");
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border: solid turquoise;
    box-shadow: inset 400px 900px rgba(31, 95, 114, 0.747);
    transition: .5s;
}

.big-tile:hover {
    background-image: url("../images/trippy-art.png");
    box-shadow: none;
}
/* formatting for the 4 mini tiles and the positioning of the text inside */
.tile{
    border: solid turquoise;
    width: 100%;
    height: 200px;
    display: flex;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    display: flex;
    box-shadow: inset 150px 450px rgba(31, 95, 114, 0.747);
    transition: 0.5s;
}

.tile:hover {
    box-shadow: none;
}

.cards-within {
    background: turquoise;
    text-decoration: none;
    color: darkslategray;
}


/* img sources for each of the tiles. and hover effect*/
#laptop {
    background-image: url("../images/laptop-colorful.jpg");
}

#laptop:hover {
    background-image: url("../images/laptop-colorful.jpg");
}

#road {
    background-image:  url("../images/abbey-road.jpg"); 
}

#road:hover {
    background-image: url("../images/abbey-road.jpg");;
}

#soup {
    background-image:   url("../images/chicken-noodle.jpg");
}

#soup:hover{
    background-image: url("../images/chicken-noodle.jpg");
}

#waves {
    background-image: url("../images/waves-crash.jpg");
}

#waves:hover {
    background-image: url("../images/waves-crash.jpg");
}
/* added styling for when screen gets smaller*/
@media only screen and (max-width: 992px) {
    .big-tile {
        height: 200px;
        width: 450px;
    }
    
    .first-row,
    .second-row{
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
    }
}