

body{
    line-height: 1.5;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: 150%;
}

header {
    display: flex;
    background-color:grey;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    color: white;
    height: 60px;
}

nav ul,{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

header h1 {
    background-color: sandybrown;
    padding: 1% 0.5% 0.5% 5%;
}

header nav {
    font-size: x-large;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
}

section .first-row
, section .second-row {
    display: flex;
    flex-basis: 80%;
    padding: 5px 0;
    justify-content: space-between;
    max-width: 920px;
}

.section-title {
    border-right: 5px solid black;
    margin: 10px;
    padding: 10px;
    flex-basis: 20%;
}

.notes {
    display: flex;
}

.my-work div {
    flex-basis: 80%;
}

.notes p{
    flex-basis: 80%;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/galaxy-image.jfif");
    height: 35%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-image .hero-text{
    text-align: center;
    position: absolute;
    color: rgb(250, 250, 250);
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.432);
    padding: 0 5%;
}

.my-work {
    display: flex;
}

.big-tile{
    padding: 10px;
   height: 500px;
    width: 900px;
    background-image: url("../images/trippy-art.png");
    display: flex;
    align-items: flex-end;
    background-size: cover;
}

.tile{
    border: solid teal;
    width: 400px;
    height: 150px;
    display: flex;
    flex-basis: 80%;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    display: flex;
}

.cards-within {
    background:rgb(250, 250, 250);
}

#laptop {
    background-image: url("../images/laptop-colorful.jpg");
    
    
}

#road {
    background-image: url("../images/abbey-road.jpg");
    
    
}

#soup {
    background-image: url("../images/chicken-noodle.jpg");
    
    
}

#waves {
    background-image: url("../images/waves-crash.jpg");
    
    
}